In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [18]:
df_x = pd.read_csv('../../DB/x_변수병합_민주.csv', encoding='CP949')
df_y = pd.read_csv('../../DB/폐기물데이터_행정구역변경_2.csv', encoding='CP949')

In [8]:
print(set(df_x['행정구역'].unique())-set(df_y['행정구역'].unique()))
print(set(df_y['행정구역'].unique())-set(df_x['행정구역'].unique()))

set()
set()

In [10]:
df_x.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1145 entries, 0 to 1144
Data columns (total 24 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   행정구역          1145 non-null   object
 1   시도            1145 non-null   object
 2   시군구           1145 non-null   object
 3   연도            1145 non-null   int64
 4   주민등록세대수       1145 non-null   int64
 5   총인구수          1145 non-null   int64
 6   단독주택-계        1145 non-null   int64
 7   아파트           1145 non-null   int64
 8   연립주택          1145 non-null   int64
 9   다세대주택         1145 non-null   int64
 10  비주거용 건물 내 주택  1145 non-null   int64
 11  단독주택비율        1145 non-null   float64
 12  아파트비율         1145 non-null   float64
 13  연립주택비율        1145 non-null   float64
 14  다세대주택비율       1145 non-null   float64
 15  비주거용주택비율      1145 non-null   float64
 16  1인가구          1145 non-null   int64
 17  2인가구          1145 non-null   int64
 18  3인가구          1145 non-null   int64
 19  4인가구          1145 non-null   int64
 20  5인이상가구        1145 non-null   float64
 21  총전입           1145 non-null   int64
 22  총전출           1145 non-null   int64
 23  순이동           1145 non-null   int64
dtypes: float64(6), int64(15), object(3)
memory usage: 214.8+ KB

In [11]:
df_y.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42365 entries, 0 to 42364
Data columns (total 12 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   행정구역     42365 non-null  object
 1   시도       42365 non-null  object
 2   시군구      42365 non-null  object
 3   폐기물_종류   42365 non-null  object
 4   폐기물_종류1  41220 non-null  object
 5   폐기물_종류2  24961 non-null  object
 6   재활용      42365 non-null  float64
 7   소각       42365 non-null  float64
 8   매립       42365 non-null  float64
 9   기타       42365 non-null  float64
 10  발생량      42365 non-null  float64
 11  연도       42365 non-null  int64
dtypes: float64(5), int64(1), object(6)
memory usage: 3.9+ MB

In [14]:
# df_y
# 우선 target 부산이 재활용데이터가 줄어드는 추세임
# 전국에서는 많지만 서울과 경기 다음으로 인구가 많으니 당연하다고 생각됨
# 종량제방식은 계속 증가하고, 종량제/재활용도 증가하니 y변수를 종량제 총발생량으로 선정정

In [20]:
y = df_y[df_y['폐기물_종류'] == "종량제방식 등 혼합배출"]
y = y.groupby(['행정구역', '연도'])[['발생량']].agg('sum').reset_index()
y

        행정구역    연도      발생량
0     강원_강릉시  2019  38945.5
1     강원_강릉시  2020  40579.7
2     강원_강릉시  2021  42722.3
3     강원_강릉시  2022  40274.5
4     강원_강릉시  2023  37047.4
...      ...   ...      ...
1140  충북_충주시  2019  82052.0
1141  충북_충주시  2020  60127.2
1142  충북_충주시  2021  56905.0
1143  충북_충주시  2022  41319.7
1144  충북_충주시  2023  47581.2

[1145 rows x 3 columns]

In [23]:
df_merged = pd.merge(df_x, y, on=['행정구역', '연도'], how='inner')
df_merged.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1145 entries, 0 to 1144
Data columns (total 25 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   행정구역          1145 non-null   object
 1   시도            1145 non-null   object
 2   시군구           1145 non-null   object
 3   연도            1145 non-null   int64
 4   주민등록세대수       1145 non-null   int64
 5   총인구수          1145 non-null   int64
 6   단독주택-계        1145 non-null   int64
 7   아파트           1145 non-null   int64
 8   연립주택          1145 non-null   int64
 9   다세대주택         1145 non-null   int64
 10  비주거용 건물 내 주택  1145 non-null   int64
 11  단독주택비율        1145 non-null   float64
 12  아파트비율         1145 non-null   float64
 13  연립주택비율        1145 non-null   float64
 14  다세대주택비율       1145 non-null   float64
 15  비주거용주택비율      1145 non-null   float64
 16  1인가구          1145 non-null   int64
 17  2인가구          1145 non-null   int64
 18  3인가구          1145 non-null   int64
 19  4인가구          1145 non-null   int64
 20  5인이상가구        1145 non-null   float64
 21  총전입           1145 non-null   int64
 22  총전출           1145 non-null   int64
 23  순이동           1145 non-null   int64
 24  발생량           1145 non-null   float64
dtypes: float64(7), int64(15), object(3)
memory usage: 223.8+ KB

In [ ]:
# x

In [12]:
df_x.isnull().sum()

행정구역            0
시도              0
시군구             0
연도              0
주민등록세대수         0
총인구수            0
단독주택-계          0
아파트             0
연립주택            0
다세대주택           0
비주거용 건물 내 주택    0
단독주택비율          0
아파트비율           0
연립주택비율          0
다세대주택비율         0
비주거용주택비율        0
1인가구            0
2인가구            0
3인가구            0
4인가구            0
5인이상가구          0
총전입             0
총전출             0
순이동             0
dtype: int64

In [13]:
df_x.describe()

,연도,주민등록세대수,총인구수,단독주택-계,아파트,연립주택,다세대주택,비주거용 건물 내 주택,단독주택비율,아파트비율,...,다세대주택비율,비주거용주택비율,1인가구,2인가구,3인가구,4인가구,5인이상가구,총전입,총전출,순이동
count,1145.000000,1.145000e+03,1.145000e+03,1145.000000,1145.000000,1145.000000,1145.000000,1145.000000,1145.000000,1145.000000,...,1145.000000,1145.000000,1145.000000,1145.000000,1145.000000,1145.000000,1145.000000,1145.000000,1145.000000,1145.000000
mean,2021.000000,1.181827e+05,2.631802e+05,18497.731004,61578.621834,2652.820087,11197.698690,1031.951092,0.378178,0.489216,...,0.088359,0.014591,35509.209607,30359.367686,21512.874236,16228.458515,4554.754585,29986.204367,29986.204367,0.000000
std,1.414832,1.574321e+05,3.677223e+05,16231.103877,93829.833564,3867.476799,20336.810121,1089.493667,0.278394,0.249819,...,0.097827,0.007155,46158.775382,38043.124350,31481.012853,25441.436787,6722.498397,32172.976011,31372.724017,5446.063592
min,2019.000000,5.258000e+03,8.867000e+03,1437.000000,20.000000,100.000000,26.000000,47.000000,0.025700,0.001200,...,0.002400,0.002200,1661.000000,1340.000000,533.000000,268.000000,0.000000,972.000000,1085.000000,-18290.000000
25%,2020.000000,2.666600e+04,5.141300e+04,10142.000000,5747.000000,580.000000,599.000000,415.000000,0.130800,0.264700,...,0.020800,0.009500,8370.000000,8016.000000,3400.000000,1903.000000,865.000000,4953.000000,5209.000000,-1659.000000
50%,2021.000000,6.839300e+04,1.472740e+05,15255.000000,30996.000000,1437.000000,2353.000000,783.000000,0.282100,0.535800,...,0.048000,0.014100,20635.000000,18578.000000,11059.000000,7575.000000,2431.000000,18673.000000,18478.000000,-247.000000
75%,2022.000000,1.525450e+05,3.414360e+05,21179.000000,77457.000000,2995.000000,11891.000000,1245.000000,0.632000,0.702800,...,0.127800,0.018400,45454.000000,37934.000000,27835.000000,20425.000000,5452.000000,44870.000000,45979.000000,498.000000
max,2023.000000,1.074156e+06,2.394514e+06,156244.000000,611466.000000,25148.000000,165262.000000,8178.000000,0.974700,0.916200,...,0.461200,0.059500,358856.000000,248138.000000,205600.000000,180588.000000,48366.000000,183258.000000,185355.000000,51838.000000